html,
body,
div,
ul,
li,
h1,
p,
label,
input[type=text],
a {
    /* Reset */
    border: 0 none;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #fff;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin: .3em;
}

p, ul {
    font-size: 1em;
    line-height: 1.4;
    margin: 1.2em;
}

ul {
    list-style-type: none;
}

li {
    line-height: 1.4;
}

a {
    color: #1c77b0;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

label {
    color: #303c4a;
    display: block;
    font-size: 1em;
    margin: 0.3em 0;
}

label.error {
    color: #df0000;
}

input[type=text] {
    border: 1px solid #1c77b0;
    color: #333;
    font-size: 1.2em;
    padding: 0.2em;
    width: 16em;
}

input[type=submit] {
    font-size: 1.2em;
    padding: 0.2em 0.8em;
}

.menu {
    background-color: #303c4a;
    border-bottom: 6px solid #1c77b0;
}

.menu ul {
    list-style-type: none;
    margin: 0 0 0 2.4em;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu a {
    color: #90c0de;
    display: inline-block;
    font-weight: normal;
    padding: .8em;
}

.main {
    margin: 2em;
    overflow: hidden;
}

.intro {
    font-size: 1.2em;
    margin: 1em;
}

@media screen and (max-width: 640px) {
    .menu ul {
        margin-left: 1.6em;
    }

    .main {
        margin: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
        margin: .6em;
    }

    input[type=text] {
        box-sizing: border-box;
        width: 100%;
    }

    .menu {
        border-bottom: none;
    }

    .menu ul {
        margin-left: 0.4em;
    }

    .main {
        margin: 0;
    }

    .intro {
        font-size: 1em;
        margin: 1.2em;
    }
}
