html,
body,
div,
ul,
li,
h1,
p,
a {
    /* Reset */
    border: 0 none;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #fff;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin: .3em;
}

p {
    font-size: 1em;
    line-height: 1.4;
    margin: 1.2em;
}

a {
    color: #1c7bb7;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.menu {
    background-color: #303c4a;
    border-bottom: 6px solid #1c7bb7;
}

.menu ul {
    list-style-type: none;
    margin-left: 2.4em;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu a {
    color: #90c0de;
    display: inline-block;
    font-weight: normal;
    padding: .8em;
}

.main {
    margin: 2em;
    overflow: hidden;
}

.intro {
    font-size: 1.2em;
    font-style: italic;
    margin: 1em;
}

@media screen and (max-width: 640px) {
    .menu ul {
        margin-left: 1.6em;
    }

    .main {
        margin: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
        margin: .6em;
    }

    .menu {
        border-bottom: none;
    }

    .menu ul {
        margin-left: 0.4em;
    }

    .main {
        margin: 0;
    }

    .intro {
        font-size: 1em;
        margin: 1.2em;
    }
}
