body {
    background-color: #1c7bb7;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3.6em;
    margin: 1em 0.5em 0.5em 0.5em;
    padding: 0;
    text-align: center;
}

p {
    font-size: 1.8em;
    margin: 2em 1em 1em 1em;
    padding: 0;
    text-align: center;
}

a {
    color: #90c0de;
    text-decoration: none;
}
