<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>{{ ViewItems.Title }}</title>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</div>
<div class="main">
    {% block content %}{% endblock %}
</div>
</body>
</html>