<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>{{ ViewData.Title }}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>