{% extends "sitelayout.twig" %}
{% block content %}
    <h1>Well done!</h1>
    <p class="intro">
        You have successfully installed the BlueMvc website template.
    </p>
    <p>
        Read more at <a href="https://bluemvc.com/" target="_blank">bluemvc.com</a>
    </p>
{% endblock %}
